backend/.env
frontend/.env
ApoioLocal.code-workspace
backend/node_modules
azure-functions/node_modules
azure-functions/local.settings.json
JoãoSantos20210925_MarcoGordo20211720_VascoSantos20211717.docx